NEXT_PUBLIC_SUPABASE_URL=https://xifnhioairmtwarczvxg.supabase.co

NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhpZm5oaW9haXJtdHdhcmN6dnhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2NDMzNTksImV4cCI6MjA5MTIxOTM1OX0.18GOV9sU55ROkFpCsqSiqIuREdL_bM2c7hwPggbllzo

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhpZm5oaW9haXJtdHdhcmN6dnhnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTY0MzM1OSwiZXhwIjoyMDkxMjE5MzU5fQ.hp6kNw9rXWGeA-OQl4oJtI0CF6kM_7mvMwk8ow48s48

NEXT_PUBLIC_SITE_URL=http://localhost:3000
